@use '../../../shared/styling/global' as *;

.root {
  font-family: $font-primary;
  font-size: $font-size-xl;
  align-items: center;
  gap: $space-3;
  font-weight: 400;
  font-style: normal;
  line-height: $space-12;
  letter-spacing: -1.5%;
  text-align: center;
  display: block;
  @include fade-in-animation;

  span {
    display: inline;

    &:first-child {
      margin-right: $space-2;
    }
  }

  @include md {
    font-size: $font-size-2xl;
  }

  @include lg {
    font-size: $font-size-3xl;
  }

  &.default{
    color: $color-white;
  }

  &.primary{
    span:first-child{
      color: $color-white;
    }

    span:last-child{
      color: rgba($color-white, 0.5);
    }
  }

  &.secondary{
    span:first-child{
      color: $color-dark-accent;
    }

    span:last-child{
      color: $color-accent-blue;
    }
  }
}
