@use '../../../../shared/styling/global' as *;

.root {
  display: flex;
  flex-direction: column;
  padding: $space-2;
  grid-area: area-2;
  @include glass-chart-card;
  height: 100%;
  @include float-animation(7.8s, 1.9s);

  @include lg {
    padding: $space-3;
  }

  > .labelWrapper {
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;

    > .label {
      font-size: clamp(0.375rem, 8cqh, 0.625rem);
      letter-spacing: 0.08em;
      opacity: 0.6;
      color: $color-off-white;
      text-transform: uppercase;

      @include lg {
        letter-spacing: 0.1em;
      }
    }

    > .value {
      font-size: clamp(0.875rem, 18cqh, 2.5rem);
      color: $color-white;
      font-weight: 400;
      height: fit-content;
      margin-top: clamp(-10px, -2cqh, -2px);
    }
  }

  > .footer {
    margin-top: auto;
    height: inherit;
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 100%;

    > .trackWrapper {
      width: 100%;

      > .marker {
        position: absolute;
        bottom: 0;
        width: 2px;
        height: 130%;
        border-left: 1px dashed rgba(255, 255, 255, 0.4);
        transform: translateX(-50%);
        pointer-events: none;

        @include lg {
          height: 150%;
        }
      }

      > .trackLabels {
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: clamp(0.35rem, 6cqh, $font-size-xxs);

        span {
          color: $color-white;
          font-weight: 500;
          margin-right: 2px;
        }

        > .minLabel,
        > .maxLabel {
          position: relative;
          padding-bottom: 8px;

          @include lg {
            padding-bottom: 20px;
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 30%;
            background: rgba(255, 255, 255, 0.4);

            @include lg {
              height: 55%;
            }
          }
        }
      }

      > .youLabel {
        position: absolute;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.15);
        padding: 1px 4px;
        font-size: clamp(0.35rem, 6cqh, $font-size-xxs);

        @include md {
          padding: 2px 6px;
        }
      }

      > .track {
        width: 100%;
        height: clamp(4px, 7cqh, 10px);
        background: rgba(255, 255, 255, 0.15);
        overflow: hidden;

        > .fill {
          height: 100%;
          background: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
